<div class="well">
    <h1>Wiki</h1>
    <p>Le wiki de Framasoft est propulsé par le logiciel libre <a href="http://dokuwiki.org/">Dokuwiki</a>.</p>
    <h2>Licence</h2>
    <p>Sauf mention contraire, le contenu de ce wiki est placé sous les termes de la licence suivante : <a href="http://creativecommons.org/licenses/by-sa/3.0/">CC Attribution-Share Alike 3.0 Unported</a></p>
</div>
