*, *:before, *:after {
        -webkit-box-sizing: content-box !important;
        -moz-box-sizing: content-box !important;
        box-sizing: content-box !important;
}
#tableeditor {
    margin: 16px 10px 10px 8px;
}
#msg {
        top:48px;
}
