*, *:before, *:after {
    -webkit-box-sizing: content-box !important;
    -moz-box-sizing: content-box !important;
    box-sizing: content-box !important;
}

#framanav .dropdown-menu {
    min-width: 140px;
    width: auto;
    top:100%;
    left:0;
    bottom:auto;
    box-shadow: none;
    border: 1px solid rgba(0, 0, 0, 0.15);
}
#discourse-modal.in {
    display: block !important;
    visibility: visible !important;
}
