#navbar {
    top: 42px;
}
.btn {
    padding: 0;
}
* {
    box-sizing: content-box;
}
ol, ul {
    margin-bottom: 0;
}
nav .list-unstyled ol,
nav .list-unstyled ul {
    margin-bottom: 10px;
}
#framafooter * {
    box-sizing: border-box;
}
#footer .nav > li > a {
    position: static;
    display: inline;
    padding: 0;
}
.logo {
    background-image: url('https://lut.im/rYkYji53/AEdWGgfD');
    background-position: 0% 0%;
    width: 42px;
    height: 40px;
    margin-right: 5px;
}
#search-form {
    padding-bottom: 0;
    padding-right: 4px;
}
